body{
    padding: 0;
    margin: 0;
    width:100vw;
    height: 100vh;
}
.panel{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#startbtn{
    padding: 10px;
    width: 15vw;
    height: 10vh;
    font-size: larger;
    background-color: cornsilk;
    padding: 0;
    margin: 0;
    width:25vw;
    height: 25vh;
}
.question-container{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    background-color: rgb(252, 243, 206);
    font-size: x-large;
    text-align: center;
}
.result{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    text-align: center;
    font-size: 50px;
}
.option-container{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
    background-color: cornflowerblue;
}
.option{
    padding: 10px;
    width: 15vw;
    height: 10vh;
    font-size: larger;
    background-color: cornsilk;
}
.option:hover{
    background-color:lightgray;
}
.navigation{
    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(252, 243, 206);
}
.evaluate,.next{
    width:30vw;
    height:8vh;
    padding:5px;
    font-size:larger;
}
.evaluate{
    background-color:rgb(189, 184, 124);
}
.next{
    background-color:rgb(189, 184, 124);
}


